@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin-500.woff") format("woff"),
    url("../fonts/roboto-v29-latin-500.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin-700.woff") format("woff"),
    url("../fonts/roboto-v29-latin-700.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffd845;
}

img {
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.my-container {
  margin: 0 auto;
  width: 1310px;
}

.site-main {
  flex-grow: 1;
}

.header {
  padding: 50px 0;
}

.header__body {
  position: relative;
}

.header__body-heart {
  position: absolute;
  top: 0;
  right: 0;
}

.hero {
  padding: 20px 0;
}

.hero__body {
  padding: 0 96px;
  margin: 0 -17px;
}

.hero__gross,
.hero__alphabet {
  padding: 16px 81px;
}

.hero__search {
  padding: 16px 30px;
}

.hero__button {
  padding: 16px 64px;
}

.hero__gross,
.hero__search,
.hero__alphabet,
.hero__button {
  border: 2px solid #000000;
  border-radius: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0 17px;
}

.hero__search-img {
  margin-left: 120px;
}

.pokemons {
  padding: 80px 0;
}

.pokemons__list {
  margin: -15px;
}

.pokemons__item {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 30px;
  margin: 14px;
}

.pokemons__sec {
  padding: 28px 73px 68px;
}

.pokemons__about {
  position: relative;
  padding: 20px 28px 35px;
  border-top: 2px solid #000000;
}

.pokemons__heart {
  position: absolute;
  top: 20px;
  right: 30px;
}

.pokemons__item-title {
  font-size: 24px;
  line-height: 28px;
  width: 247px;
  margin-bottom: 5px;
}

.pokemons__item-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  width: 247px;
  margin-bottom: 25px;
}

.pokemons__item-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  width: 247px;
}
